<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.celedev.codeflow.bindings.TextKitSubclasses</string>
	<key>CFBundleName</key>
	<string>TextKitSubclasses</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CIMLuaBindingsDeploymentTarget</key>
	<string>7.1</string>
	<key>CIMLuaBindingsFormatVersion</key>
	<string>1.0</string>
	<key>CIMLuaBindingsGenerationDate</key>
	<date>2015-05-20T16:23:22Z</date>
	<key>CIMLuaBindingsGenerationOptions</key>
	<dict/>
	<key>CIMLuaBindingsGeneratorSDK</key>
	<string>iphoneos8.3</string>
	<key>CIMLuaBindingsGeneratorVersion</key>
	<string>Celedev Lua2CBindingsGenerator 1.0</string>
	<key>CIMLuaBindingsHasGlobalVariable</key>
	<false/>
	<key>CIMLuaBindingsHeadersIncludePath</key>
	<array>
		<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/iphoneos/include</string>
		<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
		<string>/Volumes/Brume/Celedev\ CodeFlow/CodeFlow\ Sample\ Applications/TextKitSubclasses/TextKitSubclasses</string>
	</array>
	<key>CIMLuaBindingsIdentifier</key>
	<string>TextKitSubclasses</string>
	<key>CIMLuaBindingsIsSDKBindingsLib</key>
	<false/>
	<key>CIMLuaBindingsLocationId</key>
	<string>TextKitSubclasses</string>
	<key>CIMLuaBindingsLuaAPIFilesDir</key>
	<string>LuaAPI</string>
	<key>CIMLuaBindingsParsingOptions</key>
	<array>
		<string>-include</string>
		<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/TextKitSubclasses/TextKitSubclasses/TextKitSubclasses-Prefix.pch</string>
		<string>-fobjc-arc</string>
	</array>
	<key>CIMLuaBindingsPlatformName</key>
	<string>iphoneos</string>
	<key>CIMLuaBindingsUserReadableId</key>
	<string>In Xcode project TextKitSubclasses</string>
</dict>
</plist>
