<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.0</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>TextKitSubclasses.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/TextKitSubclasses/TextKitSubclasses/TextKitSubclasses-Prefix.pch</string>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/iphoneos/include</string>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-16T12:31:20Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.0</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGjo9YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QJwcIERIXHB0jKCkvMDY9Pj9DSE1O
			UlNfYGFiY2RlamtvcHx9foGFilUkbnVsbNQJCgsMDQ4PEFZvYmpl
			Y3RUbmFtZVphdHRyaWJ1dGVzViRjbGFzc4ADgAKAJoAlUNITDBQW
			Wk5TLm9iamVjdHOhFYAEgCPUCQoLDBgZGhCABoAFgCSAJV8QEVRl
			eHRLaXRTdWJjbGFzc2Vz0hMMHhajHyAhgAeAEYAcgCPUCQoLDCQl
			JieACYAIgAyAEF1BcHBEZWxlZ2F0ZS5o0yoMKywtLldOUy5iYXNl
			W05TLnJlbGF0aXZlgACAC4AKXxB7ZmlsZTovLy9Wb2x1bWVzL0Jy
			dW1lL0NlbGVkZXYlMjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBs
			ZSUyMEFwcGxpY2F0aW9ucy9UZXh0S2l0U3ViY2xhc3Nlcy9UZXh0
			S2l0U3ViY2xhc3Nlcy9BcHBEZWxlZ2F0ZS5o0jEyMzRaJGNsYXNz
			bmFtZVgkY2xhc3Nlc1VOU1VSTKIzNVhOU09iamVjdNM3Eww4OjxX
			TlMua2V5c6E5gA2hO4AOgA9Yc2VsZWN0ZWQI0jEyQEFfEBNOU011
			dGFibGVEaWN0aW9uYXJ5o0BCNVxOU0RpY3Rpb25hcnnSMTJERVxD
			REZMTmFtZWRVcmyjRkc1XENERkxOYW1lZFVybF1DREZMTmFtZWRJ
			dGVt1AkKCwxJSksngBOAEoAVgBBfEBBWaWV3Q29udHJvbGxlci5o
			0yoMKywtUYAAgAuAFF8QfmZpbGU6Ly8vVm9sdW1lcy9CcnVtZS9D
			ZWxlZGV2JTIwQ29kZUZsb3cvQ29kZUZsb3clMjBTYW1wbGUlMjBB
			cHBsaWNhdGlvbnMvVGV4dEtpdFN1YmNsYXNzZXMvVGV4dEtpdFN1
			YmNsYXNzZXMvVmlld0NvbnRyb2xsZXIuaNM3EwxUWTykVVY5WIAW
			gBeADYAYpFpbW12AGYAagBqAG4APXxASZ2VuZXJhdGlvbkZpbGVE
			YXRlXxAUZ2VuZXJhdGlvbkRpZFN1Y2NlZWRfEBdnZW5lcmF0aW9u
			THVhTW9kdWtlUGF0aCNBuP1NpQAAAAleVmlld0NvbnRyb2xsZXLU
			CQoLDGZnaCeAHoAdgCCAEF8QFUNvbG9yaW5nVGV4dFN0b3JhZ2Uu
			aNMqDCssLW6AAIALgB9fEINmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUv
			Q2VsZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIw
			QXBwbGljYXRpb25zL1RleHRLaXRTdWJjbGFzc2VzL1RleHRLaXRT
			dWJjbGFzc2VzL0NvbG9yaW5nVGV4dFN0b3JhZ2UuaNM3Ewxxdjyk
			VVY5WIAWgBeADYAYpHdbW3qAIYAagBqAIoAPI0G5HLhgAAAAXxAT
			Q29sb3JpbmdUZXh0U3RvcmFnZdIxMn+AV05TQXJyYXmifzXTNxMM
			goM8oKCAD9IxMoaHXkNERkxOYW1lZEdyb3Vwo4iJNV5DREZMTmFt
			ZWRHcm91cF1DREZMTmFtZWRJdGVt0zcTDIuMPKCggA9fEA9OU0tl
			eWVkQXJjaGl2ZXLRkJFUcm9vdIABAAgAEQAaACMALQAyADcAYQBn
			AHAAdwB8AIcAjgCQAJIAlACWAJcAnACnAKkAqwCtALYAuAC6ALwA
			vgDSANcA2wDdAN8A4QDjAOwA7gDwAPIA9AECAQkBEQEdAR8BIQEj
			AaEBpgGxAboBwAHDAcwB0wHbAd0B3wHhAeMB5QHuAe8B9AIKAg4C
			GwIgAi0CMQI+AkwCVQJXAlkCWwJdAnACdwJ5AnsCfQL+AwUDCgMM
			Aw4DEAMSAxcDGQMbAx0DHwMhAzYDTQNnA3ADcQOAA4kDiwONA48D
			kQOpA7ADsgO0A7YEPARDBEgESgRMBE4EUARVBFcEWQRbBF0EXwRo
			BH4EgwSLBI4ElQSWBJcEmQSeBK0EsQTABM4E1QTWBNcE2QTrBO4E
			8wAAAAAAAAIBAAAAAAAAAJIAAAAAAAAAAAAAAAAAAAT1
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>7.1</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>TextKitSubclasses</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>TextKitSubclasses.xcodeproj</string>
			<key>target</key>
			<string>TextKitSubclasses</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>ViewController</string>
		<key>LuaAppWindow frame</key>
		<string>50 518 1336 827 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>RoundTextContainer</string>
			<string>ColoringTextStorage</string>
			<string>CircleTextView</string>
			<string>NSRangeMethods</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SourceFile</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CircleTextView</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>445856475.36160398</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>537</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1388</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>ColoringTextStorage</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>464099518.219558</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>2499</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1675</integer>
				<key>SrcEditor Visible Location</key>
				<integer>1402</integer>
			</dict>
		</dict>
		<key>NSRangeMethods</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>440440556.078951</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>335</integer>
				<key>SrcEditor Visible Length</key>
				<integer>537</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>RoundTextContainer</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>445856333.23629099</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>396</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1906</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453831743.10898602</real>
		</dict>
	</dict>
</dict>
</plist>
