<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.3</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>TextKitSubclasses.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibGenerationOptions</key>
			<dict>
				<key>CIMStoreObjcMethodsInfo</key>
				<true/>
			</dict>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/TextKitSubclasses/TextKitSubclasses/TextKitSubclasses-Prefix.pch</string>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2016-10-10T13:38:38Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.3</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGk5RYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QJgcIERIXHB0jKCkvMDZDREVGR0hJ
			Sk5TWFldXmprcHF1doKDhoqPVSRudWxs1AkKCwwNDg8QVm9iamVj
			dFRuYW1lWmF0dHJpYnV0ZXNWJGNsYXNzgAOAAoAlgCRQ0hMMFBZa
			TlMub2JqZWN0c6EVgASAItQJCgsMGBkaEIAGgAWAI4AkXxARVGV4
			dEtpdFN1YmNsYXNzZXPSEwweFqMfICGAB4AWgByAItQJCgsMJCUm
			J4AJgAiADIAVXUFwcERlbGVnYXRlLmjTKgwrLC0uV05TLmJhc2Vb
			TlMucmVsYXRpdmWAAIALgApfEHtmaWxlOi8vL1ZvbHVtZXMvQnJ1
			bWUvQ2VsZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxl
			JTIwQXBwbGljYXRpb25zL1RleHRLaXRTdWJjbGFzc2VzL1RleHRL
			aXRTdWJjbGFzc2VzL0FwcERlbGVnYXRlLmjSMTIzNFokY2xhc3Nu
			YW1lWCRjbGFzc2VzVU5TVVJMojM1WE5TT2JqZWN00zcTDDg9QldO
			Uy5rZXlzpDk6OzyADYAOgA+AEKQ+Pz9BgBGAEoASgBOAFF8QEmdl
			bmVyYXRpb25GaWxlRGF0ZV8QFGdlbmVyYXRpb25EaWRTdWNjZWVk
			WHNlbGVjdGVkXxAXZ2VuZXJhdGlvbkx1YU1vZHVrZVBhdGgjQb2r
			0RAAAAAJW0FwcERlbGVnYXRl0jEyS0xfEBNOU011dGFibGVEaWN0
			aW9uYXJ5o0tNNVxOU0RpY3Rpb25hcnnSMTJPUFxDREZMTmFtZWRV
			cmyjUVI1XENERkxOYW1lZFVybF1DREZMTmFtZWRJdGVt1AkKCwxU
			VVYngBiAF4AagBVfEBBWaWV3Q29udHJvbGxlci5o0yoMKywtXIAA
			gAuAGV8QfmZpbGU6Ly8vVm9sdW1lcy9CcnVtZS9DZWxlZGV2JTIw
			Q29kZUZsb3cvQ29kZUZsb3clMjBTYW1wbGUlMjBBcHBsaWNhdGlv
			bnMvVGV4dEtpdFN1YmNsYXNzZXMvVGV4dEtpdFN1YmNsYXNzZXMv
			Vmlld0NvbnRyb2xsZXIuaNM3EwxfZEKkOTo7PIANgA6AD4AQpD4/
			P2iAEYASgBKAG4AUXlZpZXdDb250cm9sbGVy1AkKCwxsbW4ngB6A
			HYAggBVfEBVDb2xvcmluZ1RleHRTdG9yYWdlLmjTKgwrLC10gACA
			C4AfXxCDZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVkZXYlMjBD
			b2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxpY2F0aW9u
			cy9UZXh0S2l0U3ViY2xhc3Nlcy9UZXh0S2l0U3ViY2xhc3Nlcy9D
			b2xvcmluZ1RleHRTdG9yYWdlLmjTNxMMd3xCpDk6OzyADYAOgA+A
			EKQ+Pz+AgBGAEoASgCGAFF8QE0NvbG9yaW5nVGV4dFN0b3JhZ2XS
			MTKEhVdOU0FycmF5ooQ10zcTDIeIQqCggBTSMTKLjF5DREZMTmFt
			ZWRHcm91cKONjjVeQ0RGTE5hbWVkR3JvdXBdQ0RGTE5hbWVkSXRl
			bdM3EwyQkUKgoIAUXxAPTlNLZXllZEFyY2hpdmVy0ZWWVHJvb3SA
			AQAIABEAGgAjAC0AMgA3AGAAZgBvAHYAewCGAI0AjwCRAJMAlQCW
			AJsApgCoAKoArAC1ALcAuQC7AL0A0QDWANoA3ADeAOAA4gDrAO0A
			7wDxAPMBAQEIARABHAEeASABIgGgAaUBsAG5Ab8BwgHLAdIB2gHf
			AeEB4wHlAecB7AHuAfAB8gH0AfYCCwIiAisCRQJOAk8CWwJgAnYC
			egKHAowCmQKdAqoCuALBAsMCxQLHAskC3ALjAuUC5wLpA2oDcQN2
			A3gDegN8A34DgwOFA4cDiQOLA40DnAOlA6cDqQOrA60DxQPMA84D
			0APSBFgEXwRkBGYEaARqBGwEcQRzBHUEdwR5BHsEkQSWBJ4EoQSo
			BKkEqgSsBLEEwATEBNME4QToBOkE6gTsBP4FAQUGAAAAAAAAAgEA
			AAAAAAAAlwAAAAAAAAAAAAAAAAAABQg=
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>8.3</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>TextKitSubclasses</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>TextKitSubclasses.xcodeproj</string>
			<key>target</key>
			<string>TextKitSubclasses</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppDocument-luapkgExportVersion</key>
		<integer>0</integer>
		<key>LuaAppDocument-remote service pattern</key>
		<string>starts:TextKitSubclasses - TextKitLuaContext</string>
		<key>LuaAppWindow edited source path</key>
		<string>ViewController</string>
		<key>LuaAppWindow frame</key>
		<string>1181 564 1336 827 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.92</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>RoundTextContainer</string>
			<string>ColoringTextStorage</string>
			<string>CircleTextView</string>
			<string>CircleTextString</string>
			<string>MultilingualText</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>TextKitLuaContext</string>
			<key>SourceGroupChildItemsOrder</key>
			<array>
				<string>ViewController.lua</string>
				<string>RoundTextContainer.lua</string>
				<string>ColoringTextStorage.lua</string>
				<string>CircleTextView.lua</string>
				<string>CircleTextString.rtf</string>
				<string>MultilingualText.rtf</string>
			</array>
			<key>SourceItemChangeTime</key>
			<real>486747542.357593</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
			<key>SourceItemName</key>
			<string></string>
		</dict>
		<key>::CircleTextString.rtf</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>486726448</real>
		</dict>
		<key>::CircleTextView.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>486724652.12907797</real>
		</dict>
		<key>::ColoringTextStorage.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>486727163.94739997</real>
		</dict>
		<key>::MultilingualText.rtf</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>486727267</real>
		</dict>
		<key>::RoundTextContainer.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>486723968.04898202</real>
		</dict>
		<key>::ViewController.lua</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>486748259.70475203</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>2399</integer>
				<key>SrcEditor Visible Location</key>
				<integer>564</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
