<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument remote Lua service</key>
		<string>TextKitSubclasses - TextKitController (Celedev's iPad)</string>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>TextKitSubclasses.xcodeproj</string>
			<key>target</key>
			<string>TextKitSubclasses</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>RoundTextContainer</string>
		<key>LuaAppWindow frame</key>
		<string>1060 418 1336 827 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ViewController</string>
			<string>RoundTextContainer</string>
			<string>ColoringTextStorage</string>
			<string>CircleTextView</string>
			<string>NSRangeMethods</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SourceFile</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CircleTextView</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CircleTextView</string>
			<key>SourceItemChangeTime</key>
			<real>440442925.502882</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>2162</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1774</integer>
				<key>SrcEditor Visible Location</key>
				<integer>1406</integer>
			</dict>
		</dict>
		<key>ColoringTextStorage</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>ColoringTextStorage</string>
			<key>SourceItemChangeTime</key>
			<real>440441106.34596401</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>3054</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1840</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>NSRangeMethods</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>NSRangeMethods</string>
			<key>SourceItemChangeTime</key>
			<real>440440556.078951</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>335</integer>
				<key>SrcEditor Visible Length</key>
				<integer>537</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>RoundTextContainer</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>RoundTextContainer</string>
			<key>SourceItemChangeTime</key>
			<real>440439175.20965803</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>28</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1770</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>ViewController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>ViewController</string>
			<key>SourceItemChangeTime</key>
			<real>440441662.66925198</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1820</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
